Jakob Voß <jakob.voss@gbv.de> <jakob@nichtich.de>
Jakob Voß <jakob.voss@gbv.de> <voss@gbv.de>
Nicolas Franck <njfranck@cpan.org> <nicolas.franck@ugent.be>
Nicolas Franck <njfranck@cpan.org> <njfranck@ca20c521.ugent.be>
